---
import projectsData from '../data/projects.json';

import globeImage from '../images/globe-gray.svg';

// Get all projects for the carousel
const allProjects = projectsData.projects;
const firstProject = allProjects[0];
const firstCategory = projectsData.categories.find(cat => cat.id === firstProject.categoryId);
---

<section class="project-carousel-section py-20 relative overflow-hidden grid place-items-center">
  <div class="container mx-auto px-6">
    <!-- Circular Carousel -->
    <div class="carousel-container relative mx-auto w-full max-w-2xl aspect-[3/2] sm:max-w-3xl lg:max-w-4xl">


      <!-- Globe Background -->
      <div class="globe-background z-[1] absolute inset-0 flex items-center justify-center">
        <div class="globe-image w-48 h-48 sm:w-64 sm:h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 p-3 sm:p-4 md:p-5 text-gray-400 bg-white rounded-full shadow-xl">

          <svg xmlns="http://www.w3.org/2000/svg" width="576" height="571" fill="currentColor" viewBox="0 0 576 571" class="w-full h-full">
            <path d="M143.727 68.468c-1.136.818-2.631 1.95-3.767 2.769 1.461-.315 3.344-.88 4.74-1.353l-1.785 1.415 2.077-.974-1.948 1.195.066 2.266-2.273 1.005-.13 2.204c1.396-.787 3.279-1.794 4.675-2.55 1.169.63 2.987 1.07 4.318 1.07l-2.11 1.7c5.065-2.161 8.463-3.64 10.194-4.436l-1.461 1.919 2.143-.819c-1.071.944-2.565 2.14-3.733 2.958 2.954-.755 5.908-2.077 8.765-3.87-2.597 4.279-7.727 5.097-11.525 7.74l1.136-1.888c-7.532 3.397-12.153 5.138-13.863 5.222-6.363 7.268-15.81 10.32-23.375 15.952l1.331 1.793c-.487 1.195-.487 3.083 0 4.248-.519.461-3.961 3.984-10.324 10.57l35.55-26.112c2.381-1.825 4.491-2.549 6.331-2.171 0 5.505-5.423 7.204-8.117 10.822 2.078-.294 5.898-1.972 11.461-5.034-3.442 4.593-9.383 14.033-9.935 15.826l-2.694.849 2.597-.472.779 2.266c-5.181 6.386-12.523 8.377-19.929 10.248.119.387.225 1.075-.038 1.33l-.06.084c-.322.235-.979.042-.979.042-.032 0-.065-.032-.098-.064-.064-.063-.065-.157-.162-.22-.065-.062-.195 0-.26-.094-.005-.006-.096-.101-.096-.315 0-.081.015-.202.044-.344-5.688 1.442-11.323 2.998-15.952 6.605 8.873-3.733 13.419-5.59 13.635-5.569-2.467 3.272-6.136 5.568-8.051 9.312l1.624 1.668c1.396-.692 3.148-1.825 4.349-2.832-1.72 7.425-9.512 6.009-14.187 9.155.822-1.95 2.392-3.607 4.708-4.97 0 0-11.103.818-16.59 11.2-4.394 1.237-10.097 5.852-17.11 13.844l1.04-2.171c-7.121 5.747-17.294 21.478-30.518 47.192-.292-6.921 10.584-16.644 1.429-20.671-.844 1.29-1.753 3.178-2.273 4.625l-.747-2.076c-8.408 4.562-17.498 40.834-17.531 44.801 3.96-2.958 3.83-7.802 5.876-11.672l1.429 1.856c-2.89 6.387-4.286 13.214-6.461 19.821 4.415 1.762 3.896 3.65 2.24 9.911-3.214 12.049-1.688 18.341-1.04 21.015l1.82-1.321 2.11 1.195c.194 1.479.453 3.461.616 4.94.584-1.636 3.29-7.593 8.117-17.87.26 4.279-1.136 8.432-1.04 12.679 1.462-2.925.748-6.669 3.734-8.998 1.072.913 2.078 2.58 2.468 3.902l2.175-.63.877 2.045 2.369.472 1.818-1.573c2.424 4.698 3.377 7.614 2.858 8.746 8.332 6.691 15.658 17.388 21.978 32.091 2.078 4.814-3.311 8.055-2.792 12.554.942-.975 1.818-2.706 1.98-4.059l1.916-1.227 2.435.661c.368 2.118-.141 4.373-1.526 6.764l2.176-.85.422-2.422 2.142-.881c6.85 3.272 7.045 6.198 7.273 9.91 1.071-.912 2.791-1.825 4.155-2.108 15.15 11.976 22.824 20.178 23.018 24.603l-.001.708c-.126 5.986-3.554 11.25-4.057 17.163l-2.013 1.541c4.199 21.142 5.93 33.539 5.195 37.188a72.523 72.523 0 0 0-5.26.629c-.909 1.889 1.688 23.062 4.772 39.044-2.986 1.007-3.019 1.006-6.687-1.354 6.254 8.096 9.413 12.542 9.479 13.34l-2.013 1.102c.26 1.541 1.332 3.461 2.338 4.656l-2.272.503c11.136 15.731 32.725 33.444 41.945 36.37-16.2.692-60.58-38.855-77.852-69.342l-50.42-94.95c-7.012-21.551 5.26-43.544-1.622-65.063-.715 1.384-1.331 3.366-1.591 4.877-7.11-9.596-4.642-46.281-4.577-46.595 2.24-8.243 5.194-19.254 7.92-27.34 6.689-16.842 12.208-29.26 16.558-37.251 9.22-15.479 16.59-26.805 22.11-33.978 11.514-13.843 20.55-23.9 27.108-30.171 13.549-11.977 24.068-20.587 31.557-25.83l14.869-9.69Z"/>
            <path fill-rule="evenodd" d="M367.992 60.916c8.874 1.72 14.058 3.157 15.551 4.31v2.015l1.981.817 1.558-1.416c2.63.944 5.487.598 8.149 1.259 6.071-3.524 10.161 2.17 15.259 3.146l-1.787-1.29c1.104.283 2.793.094 3.831-.409l-1.558-1.321c.13 0 18.214 3.083 22.856 5.128a129.395 129.395 0 0 1-3.507-2.139c1.732.482 3.723 1.394 5.974 2.736l.422.284 9.155 6.324 1.397 1.007.292.188c11.363 8.778 23.31 19.16 23.31 19.16h.032c.877.818 2.046 1.92 2.922 2.738l.228.188 3.052 2.926 6.686 6.829c-6.41-6.427-23.95-22.411-29.607-26.273 1.071.85 2.5 2.014 3.441 2.99l-2.013-.85c3.68 3.104 5.963 5.16 6.85 6.167l-2.143-.724-.616 1.95c7.446 7.069 12.499 11.558 15.161 13.466l-1.363-1.668c17.726 11.107 47.27 54.555 47.789 64.717-3.636-6.009-8.506-11.2-12.077-17.272l-2.078-.22.26 2.013c-2.078-3.314-3.766-5.568-5.065-6.764 1.364 4.635 4.783 8.946 10.259 12.931 2.467 20.513 27.498 33.57 20.063 57.323l-1.039-1.794c.628 2.433.271 4.279-1.071 5.537.13 1.29.228 2.99.228 4.248a44.087 44.087 0 0 1-1.526-4.09l-2.078.315c-4.967 18.719 15.941 34.67 6.071 53.893-.227-2.17-.422-4.373-.649-6.544-4.058-3.177-4.869-8.526-8.538-11.956.682 17.052 12.888 32.374 8.051 50.245-5.487-5.255-8.864-35.52-8.864-35.772 0-.882-3.343-24.885-7.628-30.423-.195 1.227-.877 2.831-1.591 3.869l-2.111-.188c-.032-.189-9.058-23.282-13.343-26.302l-.519 1.95c-12.434 3.964-5.91 17.116-11.559 24.478-7.369 9.627-.356 20.859-3.667 30.927-.455 1.352-1.689 2.988-2.89 3.806-.227-.283-18.895-44.926-18.408-51.156.162-2.045-.26-4.94-3.117-7.079.217 2.747-.237 4.719-1.363 5.915-1.396-.283-4.254-.85-6.786-6.23l2.014-.471-.325-2.046-2.208.347c-7.661-6.922-13.593-9.869-17.792-8.841-8.96 2.202-15.485-.189-19.316-7.111l-2.24-.283c-6.656 5.443-14.35-3.083-19.642-11.2-1.169-.252-2.695-1.039-3.539-1.856-.617 1.132-1.623 2.548-2.434 3.586 2.597 5.506 8.311 9.124 9.902 15.259l2.077.881.909-2.14c1.494 2.423 1.332 5.444 3.02 7.772 3.398.315 7.229-2.612 11.493-8.778.346 3.083 3.398 6.659 9.155 10.728 17.921 12.711-23.538 45.022-38.959 45.871-5.778-5.191-1.882-13.434-6.427-19.003-.098-.126-10.422-13.34-12.207-16.675-6.072-11.483-15.292-21.362-18.441-34.324-.714 4.342-1.169 6.744-1.364 7.205-2.5-1.761-3.798-4.562-6.07-6.512.133.32 5.681 10.005 6.915 12.049 2.629 4.279 4.025 9.093 6.655 13.372.714 1.195 2.045 2.611 3.019 3.649l10.389 21.017c3.019 7.77 10.973 11.955 14.934 19.065.649 1.164.033 3.241-.617 4.436 3.745 3.105 6.223 4.887 7.435 5.348.126-.075 14.29-5.914 19.479-5.757.228 8.023.325 11.358-8.181 29.606-3.377 7.299-23.798 29.919-23.992 30.108-.138.104-10.875 12.744-7.792 19.349 12.694 27.245-1.461 37.628-21.07 51.974-.303 10.718-3.614 18.112-9.934 22.181 2.207 18.248-29.317 33.066-44.543 28.441a570.276 570.276 0 0 1-1.851-4.279c.682-1.195 1.137-3.083.909-4.404l-15.875-42.536c-6.85-13.78 3.636-27.655-.195-41.435.649-1.101 1.331-2.926 1.039-4.184-2.532-11.075-13.408-17.682-16.33-28.568-2.045-7.676 6.331-14.094 2.76-21.96-1.234-2.642-2.014-4.404-13.571-2.454-5.519-6.124-8.712-9.198-9.578-9.219l-36.751 8.055c-8.116 2.957-33.892-29.416-30.29-38.099 1.624-.221 3.799-.379 5.422-.473l1.364-1.51c-3.139.231-5.217.136-6.234-.283-.325-1.227-1.201-2.8-2.077-3.744 2.597-18.227 5.53-30.339 8.798-36.338 6.688-12.302 18.44-20.891 25.485-32.909 3.604-6.167 10.584-9.155 14.805-14.724 1.201.252 2.694 1.038 3.636 1.793 23.028-2.097 37.237-4.257 42.627-6.48 1.136.597 2.889 1.069 4.188 1.069-1.656 3.083-.195 6.953-2.598 9.848.035.034 1.821 2.895 6.818 5.756.065 0 12.012 2.895 20.81 9.691 2.565-.441 4.416-.755 3.28-6.418 3.181-3.587 5.162-3.87 5.843-3.838l31.881 5.757c1.602.776 3.647 1.216 6.136 1.321 3.149-3.02 6.623-14.692 1.201-20.953-11.731-.357-20.907-3.891-27.53-10.603l.097-2.013c3.377-.734 5.433-1.406 6.168-2.014-1.731-.503-3.755-.198-6.071.913-3.268-1.195-6.471-.849-9.609 1.038l-1.981-.597a32.602 32.602 0 0 0 5.033 7.708l-1.851.786c-12.824-5.884-18.895-19.034-30.29-26.459l-2.11.912c-.13 1.195-.195 2.831-.098 4.058 6.904 5.097 10.432 7.656 10.584 7.677l.714 1.888a38.65 38.65 0 0 1 3.928 2.045l.325 2.013-1.915-1.069-1.657 1.195c.358 1.29.78 3.021 1.007 4.342-.811.944-2.37 1.825-3.603 2.076 3.863-8.337-19.122-21.079-19.382-21.142-5.389 3.87-13.928 2.297-17.467 9.407-10.356 3.083-9.934 7.771-9.707 10.571-.109.07-13.54 7.771-19.024 7.897-.617-3.995-1.299-3.932-6.591-3.46.238-2.475.141-4.657-.292-6.545 3.214-4.468.13-11.263 5.844-14.786 3.636-2.234 7.759-1.511 17.758.251 2.954-2.045 3.182-5.6 4.903-8.306-.541-.923-1.494-2.821-2.858-5.694-1.233-.441-2.791-1.258-3.765-2.076l1.201-1.731c1.266-.063 2.954.126 4.187.409 1.007-.629 2.046-1.982 2.37-3.084 12.987 3.209 17.63-11.232 28.441-12.616-1.201-1.982-1.721-4.215-2.598-6.292 1.494-1.971 3.192-2.874 5.097-2.706l.649 1.92c-.681 1.07-1.72 2.485-2.596 3.429l.13 2.013c7.207 4.814 14.707-1.006 22.011.536.476-.672 1.537-3.252 3.182-7.74l2.305-.692 1.525 1.51 1.884-.881c-.098-1.259-.877-2.895-1.786-3.744l.551-1.982c1.58-.21 4.048-.356 7.403-.44l1.233-1.794-1.461-1.384c-7.434 3.366-8.538 2.737-12.596.503-.65-2.412-1.007-4.541-1.072-6.387 2.37-.944 2.663-1.038 4.903-3.523l-.682-2.014c-1.234-.094-2.922.158-4.091.567-1.299 4.184-6.46 5.6-7.597 9.91.78.975 2.046 2.108 3.118 2.737l-.196 1.983c-1.168.755-2.629 1.919-3.603 2.894 0 1.29-.13 3.02-.358 4.278-1.948 1.07-4.285 1.447-5.811 3.209l-1.98-1.133c-.065-.694-.683-6.984-4.74-9.186-3.809 2.286-6.677 3.072-8.603 2.359-.065-1.226-.066-2.83.032-4.057l1.786-1.48-1.851-1.195v-2.014c8.636-4.876 14.609-13.12 23.7-17.398 1.818-.881 7.078-2.737 16.753-1.698l-.066 1.95c.162 0 16.72 1.039 18.473 6.45-.456.251-4.125.21-11.006-.126 5.367 3.712 8.419 5.557 9.155 5.537l-1.039-1.951c1.234.409 3.053.63 4.384.599l-1.461-1.574c1.331-2.108 1.558-2.485 5.291-2.045a50.393 50.393 0 0 1-2.143-3.587l1.819-.88 1.883 1.038-.292 1.95 2.24.315c.671-1.09 5.714-2.716 15.129-4.877-1.104-.597-2.565-1.447-3.669-2.076 0 0 9.448 2.328 15.454 3.586-5.541-4.72-8.366-7.53-8.474-8.431 3.41-.346 16.265 7.11 14.35 12.396l2.175.346 1.558-1.416c-.422-1.227-1.039-2.864-1.591-4.059a88.449 88.449 0 0 0 4.059 1.447c-3.993-2.926-9.968-2.673-12.76-7.487 1.385 1.007 3.475 1.636 6.267 1.888a96.085 96.085 0 0 1-4.253-1.479l1.851-.975c1.201.377 2.921.598 4.187.566-2.857-.965-4.848-1.91-5.974-2.832 1.234-.22 2.792-.818 3.864-1.447V64.44c1.948-.787 4.059-1.038 6.006-1.793l-1.039-1.73Zm1.818 73.4c-.303-.021-.866.536-1.688 1.668-.346.482-1.548 1.52-3.604 3.114-.584.472-1.331 2.894-.942 3.618.585 1.101 1.916 1.511 2.5 2.612 1.126 2.076 2.176 3.618 3.15 4.625 2.045 2.107 4.578 3.586 6.721 5.568.497.482.746 2.402.746 5.758 0 1.51 0 2.328 1.98 5.096.519.724 6.103 3.492 6.753 3.807a3.923 3.923 0 0 0 1.818.409c2.708-.118 3.904-.65 4.204-.975l-.016-.125c.097-.126-2.435-6.514-2.435-6.577-1.396-2.516-4.545-3.806-5.292-6.794-.259-1.007-.455-1.417-.617-1.763-.454-.912-1.298-1.605-1.785-2.517-.422-.786-.455-1.699-.877-2.485a3.498 3.498 0 0 0-.292-.441c-1.006-1.384-2.824-1.195-4.123-2.013-.844-.535-1.331-1.448-2.175-2.014-1.688-1.164-1.883-1.384-1.883-1.888.422-.345 1.039-.063 1.494-.409.648-.503-.066-1.384.486-1.919.617-.598 1.623-.094 2.208-.723.097-.126.195-.315.227-.441.13-.441 0-3.115-2.11-4.782-.779-.598-1.396.377-2.143.283-.811-.094-1.461-.692-2.305-.692Zm-29.219 1.007c.682-1.133-.714-2.076-2.337-1.132-1.785 1.069-3.701 1.887-5.552 2.862-.129.063-.292.158-.389.283-.39.472.714 1.511 1.623 2.361.779.723 1.363 1.289.909 1.919l-3.733 1.887c-.13-.031-.358-.063-.456-.157a.826.826 0 0 0-.162-.189c-.486-.535-.324-1.352-.876-1.856-.649-.598-1.851-.472-2.175-1.511-.357-1.226 1.721-.88 1.948-1.919-.13-.125-.357-.22-.52-.283-1.071-.314-2.175.031-3.247-.252-.746-.189-1.168-.944-1.947-1.133-.13-.062-.325-.062-.487-.062-.324.032-3.688 3.227-3.701 3.24-.455.818.129 1.7-.13 2.549-.044.189-.422.65-1.136 1.384l-2.11 6.262c-.422 1.384 2.012 3.366 2.012 3.366 1.397 1.101 7.24 1.919 7.305 1.919 1.526.094 3.571-1.794 4.447-2.612.52-.472.812-.754 2.988-.754 2.467 0 5.162.671 8.083 2.013 2.825 1.29 3.993 1.824 4.967 1.95 1.137.126 1.721-1.037 2.76-1.069 1.006-.031 1.948.503 2.954.472 1.846-.055 2.053-2.349 2.075-2.923l-.029-.193c-.098-1.635-2.565-3.869-4.221-4.215-2.305-.441-3.798-2.296-5.811-3.303-1.851-.912-2.922-3.053-5.324-3.084-1.667-.021-2.565-.188-2.695-.503.39-.786 1.429-.346 1.429-.346 1.396.66 2.11-.566 2.564-1.321.585-.944.617-1.007.617-1.228.03-.472-.424-.75-.454-1.198v-.344c.032-.157.227-.313.357-.408.162-.126.357-.315.454-.472Z" clip-rule="evenodd"/>
            <path d="m497.127 450.001.325-.378c-.552.661-1.104 1.322-1.656 1.952.777-1.157 1.686-2.218 2.599-3.276-.429.578-.851 1.147-1.268 1.702Zm40.452-69.908-1.295 3.036c-6.562 15.078-11.975 26.295-16.236 33.649-4.203 6.619-9.524 14.528-14.725 21.914.149-.332.287-.673.408-1.024-1.039.001-6.39 5.06-6.428 5.128-1.688 1.699-2.782 2.748-3.279 3.147-.26-.157-.617-.315-.876-.441-5.518 4.215-5.585 4.216-6.493 4.593l-.326-.346c.217-.818 1.721-2.862 4.513-6.134.996-1.175 2.997-4.017 6.006-8.527 3.506-5.285 6.104-11.074 9.545-16.391.065-.126.195-.284.26-.41-.022.168-.27.861-.747 2.078.812-.598 1.039-.756 3.084-5.412 1.494-3.43 3.734-6.482 5.617-9.722a6.165 6.165 0 0 1-.325 1.101c2.143-1.982 3.702-4.436 5.552-6.67 1.364.314 5.909-5.505 5.974-5.568 2.5-3.555 3.668-7.74 5.94-11.39-.292.913-.681 1.794-1.006 2.675.152-.168.779-1.5 1.883-3.996v.472c1.948-2.926 2.857-6.261 4.481-9.313.032.976.032 1.039-1.429 5.161.325-.661.617-1.322.909-2.014-.032.314-.13.723-.195 1.038.001-.049 2.037-5.03 3.884-10.334l-4.696 13.7Zm-37.27 65.912c-.714.913-1.428 1.794-2.175 2.706.212-.286.427-.571.643-.855a46.534 46.534 0 0 0 1.532-1.851Zm.018-.149c-.521.663-1.04 1.328-1.55 2l-.382.443.6-.814c.494-.598.934-1.137 1.332-1.629Z"/>
            <path d="M500.524 445.399c-.515.707-1.026 1.403-1.529 2.086-.059.072-.118.146-.179.219a27.275 27.275 0 0 1 1.708-2.305Zm2.748-3.308a133.917 133.917 0 0 1-2.945 3.765c.985-1.253 1.975-2.5 2.945-3.765Z"/>
            <path d="M505.323 438.692c-1.143 2.536-3.062 4.565-4.799 6.707a542.915 542.915 0 0 0 4.799-6.707Z"/>
            <path d="M504.238 440.814c-.318.429-.642.854-.966 1.277l.966-1.277Zm-108.801-69.281c2.14.315 1.073 12.846 1.039 12.993l-.115.38c-.424 1.431-1.036.64-1.249.375-.358-.472-.941.032-1.136.346-.909 1.353.162 2.863-.358 4.247-.584.168-.963.43-1.136.787-2.175 4.247-3.701 8.809-5.941 13.025-2.694 5.097-4.772 10.509-8.051 15.322l-3.896 2.108c-2.565 1.352-4.513-.284-4.708-.85-.131-.351-1.525-9.093.13-11.986 1.298-2.266 3.506-3.933 4.61-6.325.617-1.258.098-2.579.228-3.869.368-4.174 1.212-7.215 2.532-9.124 1.039-1.51 1.494-2.139 3.831-2.202 1.688 0 2.467-1.605 3.863-2.171a9.9 9.9 0 0 0 4.123-3.146c.844-1.101.098-2.675 1.169-3.713 1.039-1.007 2.727-1.321 3.279-2.831.822-2.223 1.418-3.345 1.786-3.366Zm147.261-6.373c-.14.411-.281.823-.423 1.233l.423-1.233Zm1.342-4.227c-.162.598-.324 1.227-.519 1.825l-.823 2.402c.488-1.442.951-2.881 1.342-4.227Zm-.156.191c0 .283-.129.504-.194.755l-.2.544a9.727 9.727 0 0 1-.32.872 1.227 1.227 0 0 1-.097.125c.032-.378.616-1.98.811-2.296Zm-2.607-6.299c.129 0 .129.063.096.378-.065.534-.259 1.038-.292 1.573 0 .283.001.566-.064.818 0 .189-.065.346-.13.534l-.121.209c-.101.254-.228.507-.301.389-.032-.063 0-.22 0-.315 0-.503.162-.975.097-1.478-.044-.461-.044-.797 0-1.007.162-.912.39-1.038.715-1.101Zm4.733-4.843c0 .009-.004.295-.195 1.007l-.134.413c-.053.161-.11.326-.158.468-.487 1.132-1.071 2.202-1.526 3.334-.779 1.909-1.201 2.895-1.266 2.957-.26-.252.681-2.674.714-2.706 1.98-5.002 2.305-5.284 2.565-5.473Zm-5.786 1.449c.13 0 .584-.03.227 1.322l-.04.117c-.098.336-.236.59-.349.701-.163.126-.456.094-.553-.063-.195-.315.163-1.983.715-2.077Zm2.667-1.036c.292 0 .519.503.649.724.033.094 0 .252-.033.503l-.054.225c-.138.431-.351.731-.464.814a.742.742 0 0 1-.164.094c-.194.063-.324-.157-.519-.126-.097.001-.162.095-.227.189-.097.126-.194.22-.259.157-.163-.189.324-2.328 1.071-2.58Zm-3.32.686c.129 0 .129.378 0 .85-.163.566-.455 1.195-.552 1.038-.163-.252.227-1.762.552-1.888Zm1.536-.686c.616 0 .292 1.321.13 1.888-.13.471-.26.629-.325.535-.032-.063-.033-.346-.033-.567v-.314c0-.157-.097-.283-.13-.441v-.22c.002-.019.069-.819.358-.881Zm-8.807-8.592c.616.063.811.944.974 1.762.065.315.195 1.038.551 1.541.812 1.07 1.299.629 2.208-.157 1.266-1.101 1.202 1.479 1.202 1.794-.044.838-.022 1.342.064 1.509.162.378.682.252.877.598.13.252-.065 1.856-.487 3.397l-.114.248c-.066.194-.097.24-.146.288-.009-.011-.391-.449-.552-1.133-.096-.404-.16-.47-.162-.472-.13-.063-.13-.063-.357.189-.419.53-1.604.04-1.623.032-.715-.472-1.039-1.511-1.039-1.511-.033-.157-.098-.408-.228-.534-.779-.818-1.98-.158-2.792-.756-.065-.032-.097-.157-.13-.22-.032-.094-.096-.189-.097-.283-.227-.661-.065-1.384-.293-2.045-.064-.189-.227-.283-.421-.378-.357-.188-.357-.314-.325-.66.033-.472 1.201-2.8 1.786-2.958.194-.063.357.126.551.126.26 0 .326-.314.553-.377Zm6.658 8.37c.13 0 .13.252 0 .693-.005.017-.487 1.695-.778 1.258-.195-.251.064-1.289.194-1.573.13-.314.195-.315.584-.378Zm6.397-1.04a4.72 4.72 0 0 1-.052.279.056.056 0 0 1 .052-.028c.032.063-.065.472-.13.724l-.064.36c-.093.279-.172.403-.196.332-.097-.157.227-1.572.39-1.667Zm3.312-6.324c0 .315-.13.598-.195.913-.13.568-1.168 4.939-1.298 5.285 0-.251 1.461-6.167 1.493-6.198Zm-1.942 3.65c.097 0 0 .472-.032.598l-.16.379c-.149.411-.343.871-.392.942-.097-.157.324-1.76.584-1.919Zm-8.474-1.442c.52-.063.616-.063.487.44-.163.63-.682 1.479-.974 1.038-.097-.157-.259-1.352.487-1.478Zm-19.647-51.569c3.636 1.352 3.961 1.793 4.74 4.687.519 1.888.844 2.36 1.169 2.832.097.157.227.346.292.503 1.006 2.171 1.234 4.562 2.272 6.701.422.881 1.493 1.291 1.786 2.266 1.385 4.425 2.024 6.942 1.916 7.551-.13.849-.26 1.604.129 2.673.228.598.358.693.91 1.165.032 1.636-.52 3.241-.455 4.877 0 .188.206.524.617 1.006.552.661.682 1.762.389 3.209l-2.11 9.879-.162-.188c-.519.157-.942.471-1.461.66-.552-.881-1.332-5.946-1.364-6.009-.238-1.846-.736-4.531-1.493-8.055-.109-.482-.109-2.244 0-5.285 0-.314-.444-2.454-1.331-6.418-.552-2.422.778-5.223-1.429-7.362-.359-.351-4.351-11.169-4.383-11.264-.39-1.258-.746-2.799-.032-3.428Zm31.427 24.258c.001.095.065.189 0 .787l-.199.391c-.392 2.107-1.391 4.096-1.391 6.278 0 1.321-.616 8.334-.876 8.747l-.65 1.29-.097-.094c.475-5.174.692-7.785.649-7.834-.227.094-.292.127-1.136 5.316-.714 4.3-1.223 6.493-1.526 6.576-.13-.377-.065-.912.357-2.863 1.072-5.002 1.104-6.135 1.072-6.355h-.098c-.487-.724 1.591-10.383 2.078-11.295l.13.063c.13.881-.13 1.793.13 2.674.779-1.132.616-2.611 1.557-3.681Zm-2.31 16.767c.002.005.031.074 0 .314l-.115.318c-.09.345-.194.681-.242 1.035-.13.692-.228 1.385-.39 2.077-.033.158-.195.754-.324.818-.325-.347.844-4.405 1.071-4.562Zm-.415-48.642c.032.063.13.127.13.221.195 1.038-.033 2.077.032 3.147.065.975 1.072 1.478 1.234 2.39.033.252.065 1.132.033 1.667l.079.162c-.118.96-.636 1.821-.697 2.765-.065.975-.357 1.887-.519 2.831-.13.818-.195 1.133-.162 2.58.151 7.047.172 10.613.064 10.697l-.194-.158-2.402 10.981c-.098.534-.163 1.195-.26 2.045-.422 4.247-2.338 7.897-2.37 7.928-.033-.094-.098-.189-.13-.252-.325-.849.26-1.73-.065-2.611-.065-.157-.357-.157-.519-.157-.163 0-.358-.032-.487-.126-.325.189-.487.598-.844.787-1.039-.409-.163-1.668-.975-2.171l-.454.22-.325-.189-.357-14.975c.098-2.234.65-4.563 1.202-5.192.681.189.811.976 1.395 1.259 0 0 2.37-5.632 3.279-11.201.293-1.793.39-2.265.942-2.485l.26.157c2.531-3.083-.844-7.299 2.11-10.32Zm3.685 44.924c-.019.127-.061.263-.085.381l.071-.462.014.081Zm.856-5.817c-.271 1.922-.57 3.818-.87 5.736l-.007-.042.877-5.694Zm-1.449 2.427c.097.19-.065 1.793-.162 2.454l-.074.388c-.04.185-.089.382-.122.429v-.534c0-.094-.13-.095-.13-.19 0-.188 0-.408.033-.597.065-.724.292-1.856.455-1.95Zm-15.133.216c.325.032.487 1.007.39 1.731-.13.849-.552 1.541-.844 1.164-.39-.535-.001-2.8.454-2.895Zm15.867-1.129c.065.062 0 .157 0 .22 0 .378.001.472.033.503.004-.009.067-.158.13-.22.032.473-.293 2.58-.293 2.612-.032.22-.032.472-.13.692a1.637 1.637 0 0 1 .066-.692c.097-.913.097-1.165.064-1.259-.162.252-.097.598-.292.85-.097-.095.26-2.486.422-2.706Zm-17.751 1.071c.13 0 .747.062.52 1.384l-.098.409c-.388 1.097-.809.288-.812.252-.324-.598-.064-2.013.39-2.045Zm-.214-3.276c.422.001.487.724.39 1.448-.065.534-.293 1.132-.487.913 0 0-.488-.85-.488-1.354.001-.016.038-.944.585-1.007Zm17.121-2.046c.227 0 .422.817.422.849.065.378-.064 1.227-.064 1.29l-.081.284c-.048.222-.09.345-.115.345-.032-.032-.032-.284 0-.786 0-.691.001-.755-.064-.755-.065.063-.097.126-.13.189-.065.157-.13.283-.163.22-.032-.063-.032-.346 0-.818.032-.252.098-.567.195-.818Zm2.803-7.232c0 .535-.097 1.101-.162 1.636l-.877 7.267-.036.123a.858.858 0 0 1-.028.192c.002-.057.552-6.11 1.103-9.218Zm-1.415 5.283c.004.005.095.119 0 1.132 0 .095-.032.535-.032.535l-.118.291a2.49 2.49 0 0 1-.078.338c-.128-.067.066-2.167.228-2.296Zm1.283-13.658c.26.818-.162 1.604 0 2.391.098-.378.065-.787.162-1.196.033.158.065.221 0 1.133l-.211 1.434c-.269 2.595-.835 7.862-1.054 8.476-.065-.094-.098-.094 0-.943 0-.126 1.006-11.136 1.103-11.295Zm.024 7.399c.065.031 0 .628-.065 1.131l-.034.598c-.061.451-.104.511-.128.535-.065-.126.161-2.134.227-2.264Zm-1.164-6.103c.064.095.065.599 0 1.511-.195 1.636-.651 4.152-1.073 4.593-.162-.001-.194-.032-.226-.535-.033-.44-.065-.472-.098-.535h-.064c-.002.006-.132.409-.358.503-.162.063-.13-.188-.227-.251-.13-.063-.195.094-.292.125-.098-.063-.065-.157-.13-.22-.13.063-.195.126-.65 1.636-.162.535-.194.661-.292.755-.162-.221.228-2.359.358-2.957.006-.018 1.069-3.014 1.136-3.083.065.031.097.094.129.503.065.44.131 1.069 1.169.912.584-.912.293-1.982.618-2.957Zm1.493-4.404s.065.063 0 .849l-.022.744c-.059.699-.132 1.23-.205 1.301-.097-.125.129-2.764.227-2.894Zm-66.299-26.149c1.331.315 4.253 10.194 3.993 12.397-.357 2.8-2.629 4.624-3.57 3.366-1.136-1.51-2.143-15.666-.423-15.763Zm65.13-4.213c.26.409.747 8.903.779 10.194l-.009 1.553c0 .272-.007.366-.023.46-.227-.44-.13-.912-.228-1.383-.065.126-.226.379-.032 2.893.162 2.454 0 3.021-.065 3.147-1.169-1.732-.974-16.58-.422-16.864Zm-.912 5.066c.226.063.259 2.117.259 2.139l-.004.308c-.013.457-.061 1.171-.255 1.266-.162-.063-.098-.283-.26-.346-.195.22-.13 1.792-.098 2.579.033 1.07.033 1.385-.064 2.77h-.033c-.293-2.895 0-8.496.455-8.716Zm-3.664-4.149c.194.095.293.913.293 1.228l-.037.518c-.005.15-.013.268-.029.363v.188c-.097.441-.26.85-.357 1.29a5.843 5.843 0 0 0-.065.755c0 .409-.032.598-.097.693h-.033c-.129-.189-.227-.787-.162-1.479v-.283c.065-.44.162-.881.227-1.321.065-.535.065-1.07.13-1.605 0-.094.065-.346.13-.347Zm2.952-5.952c.162.032.293.787.325 1.29.032.787-.13 1.605-.098 2.391.033.755.195 1.51.228 2.297v.188c0 .378-.098.567-.228.441-.584-.504-.779-6.133-.227-6.607Zm.586 3.21c.032.22.065.284.13.409.065.095.129.253.162.787l-.002.303c-.005.254-.023.436-.096.389-.005-.004-.131-.11-.194-.849-.033-.377 0-.881 0-.944v-.095Zm-3.156-1.923s.196.158.196.567l.042.589c-.043.769-.14 1.92-.238 1.991-.097-.033-.291-.882-.292-1.793 0-.566.13-1.259.292-1.354Zm2.881-3.423c.098 0 .162.346.195.597 0 0 .389 3.396.422 3.776l-.001.304c-.003.182-.015.199-.064.199 0 0-.065-.063-.13-.409v-.126c-.097-.629-.129-1.258-.194-1.887-.065-.535-.26-1.039-.325-1.605-.001-.002-.065-.755.097-.849Zm-1.129-.67c.195 0 .39.535.422 1.416.065.692-.162 3.272-.259 3.429h-.033c-.162-.283-.584-4.657-.13-4.845Zm.565-4.657c.453.063 1.036 5.321 1.039 5.38l-.032.064c-.098 0-.13 0-.228-.724-.065-.44-.097-.881-.194-1.29-.162-.755-.357-1.478-.52-2.233l-.097-.473c-.065-.314-.097-.597-.033-.691 0 0 .032-.033.065-.033Zm-.593.133c.226.066.484 2.495.486 2.517v.471c-.064 0-.064-.062-.064-.125-.097-.377-.098-.755-.195-1.101-.033-.157-.162-.283-.195-.472 0-.031 0-.094-.032-.157-.097-.661-.065-1.101 0-1.133Zm-2.301-4.025c.26.128.681 2.328.779 3.428.097.787.032.85 0 .881-.26-.129-1.005-2.829-1.038-3.145-.13-.787.259-1.164.259-1.164Zm.707-3.429c.033 0 .066.002.162.283.195.441.325.912.487 1.353.097.283.292.504.357.787.098.283.357 1.856.39 2.297l-.035.243c-.009.187-.047.229-.193.323h-.032s-.162-.41-.39-1.479c-.454-2.171-.552-2.391-.649-2.391-.032.063-.032.126-.097.157 0 0-.552-1.416 0-1.573Zm-4.943-18.131c.487.472.422 1.196.779 1.731h.098s.064-.22.064-.315h.13c.01.039 1.429 5.793 1.591 6.827l.128.698c.193 1.63.197 3.278.424 4.902.292 1.888.974 3.682 1.201 5.569.097.912.033 1.101-.324 1.007-.65-1.164-.325-2.548-.845-3.744-.065 0-.13 0-.194.062-.454-.283-1.392-4.953-1.396-5.001-.097-.504 0-.756 0-.976.097-.504-.682-4.279-.844-5.034-.747-3.492-1.202-5.569-.812-5.726Zm-498.011-5.757c.422.001.52.535.942.567.616 0 1.038-.472 1.655-.472.552.157.844.314 1.299 1.353.065.125.097.283.13.44.097.378.064.787.162 1.164.065.283.325.535.585.755.616.598.649.724.324 1.951l-.043.39c-.536 1.812-.974 1.577-1.126 1.341-.097-.158-.13-.441-.162-.724-.097-.503-.163-1.007-.487-.881-.292.126-.552.283-.876.408-.26.095-.585.064-.845.252-.13.095-.454.725-.714 1.228-.584 1.132-.682 1.164-.91 1.321-.226-.063-.259-.504-.259-1.604 0-.504 0-.536-.098-.63-.346.167-.584.21-.713.126-.228-.158-.357-.503-.26-.818.065-.157.195-.315.26-.472.454-.724.844-2.234.877-2.643.032-.283-.001-.723-.034-1.226-.097-.818-.162-1.354.066-1.668.097-.126.162-.158.227-.158Zm7.955 6.644c.779.094 1.169.629.974 1.321l-.099.19c-.378.892-1.49.957-1.947.219-.292-.472-.26-1.164 0-1.542.065-.125.162-.251 1.071-.188Zm478.731-5.283c.422.001.746 1.196.876 1.887 1.135 6.444-.614 5.508-.65 5.475-.487-.283-1.525-2.549-1.557-3.934-.098-2.485.649-3.239 1.265-3.428h.066Zm-493.301 3.65c.52.157.78 1.856.52 2.517l-.078.133c-.268.518-1.146 1.11-1.481.402-.195-.409-.356-1.699-.194-2.202.065-.158.13-.284.26-.378l.097-.064c.013-.005.327-.127.486-.219.098-.063.163-.126.26-.189h.13Zm3.958.375c.422.032.52.598.39 1.102-.26 1.006-.748.502-.813.377-.162-.315-.291-1.479.423-1.479Zm-3.378-19.696c1.265.22 1.686.818 1.816 1.164.195.535.13 1.133.39 1.668.13.346.584.409.682.786.357 1.353.065 2.737.357 4.09.13.629.682 1.039.877 1.637.13.44.162.881.357 1.321.097.251.422.346.455.597.097.378-.065.913-.13 1.196l-.058.219c-.979 2.45-3.422.933-3.579.567 0-.063-.064-.157-.064-.22v-.283c.065-.535.454-.944.52-1.479.032-.314-.196-.535-.228-.818-.195-1.227.194-2.485 0-3.712 0-.063-.066-.127-.098-.158-.292-.566-.65-1.101-.941-1.636-.357-.66-.487-.754-.584-.786-.065 0-.163-.063-.163-.095-.064-.125-.13-.346-.195-.975-.097-.881-.13-1.038-.292-1.101-.13.063-.163.063-1.039 1.227-1.039 1.384-1.234 1.511-1.559 1.637-.615-.284 2.273-4.625 3.182-4.846h.293Zm496.108-6.392c.358.315 1.137 2.737 1.591 4.153 1.591 5.159 1.753 7.425 1.656 7.583-.358-.19-1.591-3.462-2.078-5.161-1.753-6.323-1.201-6.575-1.169-6.575Zm-10.485-33.439c.358.158 1.98 2.454 2.694 4.09l1.762 3.854c.394.879.597 1.345.609 1.4h-.065c-.162-.189-1.332-2.329-1.332-2.329-.552-1.006-1.006-2.076-1.525-3.083-.779-1.447-.78-1.447-.909-1.352-.033 0-.163.093-.487-.472-.389-.723-.812-2.014-.747-2.108Zm.156-2.264c.292.157 1.265 2.167 1.331 2.233l.119.334c.109.233.109.28.109.328 0 0-.065 0-.098-.063 0 .063.001.065.422 1.006.52 1.101.617 1.385.617 1.479-.746-.346-2.694-5.065-2.5-5.317Zm-186.216 1.795c.227 0 .616.063.551.566l-.054.058c-.074.285-.286.591-.4.729-.032.031-.065.094-.097.126-.293.283-.65.471-.942.754-.227.252-.325.598-.585.85-.097.094-.291.189-.356.221-.52.157-.78 0-.877 0-.033 0-.098-.064-.13-.095-.39-.409-.844-.786-1.169-1.227-.39-.534-.032-.786.065-.849.13-.063.596-.105 1.396-.126.811 0 1.266-.723 1.98-.912.325-.095.553-.095.618-.095Zm-26.239.03c.098 0 .227 0 .325.063.129.063.195.189.325.283.422.314 1.525.22 1.265.881l-.08.09c-.173.216-.666.642-1.835.571-.194 0-.422-.063-.617-.095-.584-.126-1.072-.534-1.688-.597-.617-.063-1.234.03-1.851-.064-.389-.063-.519-.063-.584-.283-.13-.377.098-.755.39-.786a.937.937 0 0 1 .422 0c.876.157 1.655.188 2.11.188.617 0 1.201-.251 1.818-.251Z"/>
            <path d="M510.951 148.404c2.081 1.708 10.359 16.101 12.223 19.38.58 1.184 1.19 2.339 1.705 3.555l-.941-1.29c.552 1.888 1.882 3.367 2.629 5.16-.26-.094-.293-.095-1.981-3.303-.389-.724-.421-.787-.584-.945-.454 1.196.487 2.203.52 3.335h-.162c-.02-.033-3.083-5.414-2.37-6.418.259.126.389.347.583.535l-3.667-6.607c.389.409.649.913.941 1.354-.097-.409-2.955-6.073-7.013-11.799-.941-1.322-1.785-2.517-1.883-2.957Zm-209.343 16.429c1.526.095 4.155 1.542 4.025 2.769l-.004.055c-.022.182-.121.244-.32.354-.13.063-.26.157-.228.786 0 .881-.01 1.373-.032 1.479-.065.189-.227.22-.357.283-1.104.409-2.143-.849-2.792-1.605-.163-.189-1.623-1.95-1.656-2.673 0-.409.39-1.416 1.364-1.448Zm-20.392.307c.487.094.682.126.52 1.102l-.006.336c-.067.866-.002 1.767-.286 2.621-.228.66-.585.692-.91.723 0 0-.843 0-1.493-.252-.065-.031-.162-.094-.26-.126-.421-.22-.779-.471-1.201-.691-.584-.315-1.493-.724-2.37-1.133-.811-.377-1.104-.504-1.299-.787-.616-.849 1.007-1.699 1.267-1.762l2.305.19c1.266.126 2.499-.19 3.733-.221Zm242.332 3.305.65 1.133c-.377-.547-.693-1.182-1.006-1.763.219.386.346.609.356.63Zm-.356-.63-.018-.031a.477.477 0 0 0-.016-.032l.034.063Zm-259.186-12.512c1.461.032 2.046 3.304 1.981 4.059l-.066.239c-.427 2.108-3.489 2.887-3.992 2.277a.66.66 0 0 1-.13-.378c-.065-.566.13-1.164 0-1.73-.26-1.174-.357-1.877-.292-2.108.007-.015 1.011-2.202 2.499-2.359Zm-17.907 3.428c1.136.063 1.135.818 1.038 1.101l-.062.095c-.372.612-1.652.92-2.047.094-.26-.535 0-1.29 1.071-1.29Zm19.632-10.033c.811.031.941.881.876 1.29l-.02.09a1.421 1.421 0 0 1-.045.193c-.195.629-.649 1.164-.811 1.824-.098.441 0 .944-.26 1.385-.003.004-.522.752-1.137-.064-.068-.068-1.071-1.667-1.201-1.95-.032-.094-.194-.44-.064-.881.292-.944 1.688-1.824 2.662-1.887Zm234.467-14.571c1.525 1.29 2.532 3.052 4.025 4.342v-.063c.259.219 2.395 3.104 2.402 3.115l1.23 1.762c.572.88 1.157 1.792 1.206 1.919-.552-.535-.877-1.259-1.527-1.731.358 1.227 1.526 1.951 2.013 3.084-.195-.095-1.039-1.196-1.721-2.108-.941-1.259-1.655-2.643-2.596-3.902-1.429-1.919-3.052-3.712-4.481-5.632-.194-.251-.422-.471-.551-.786Zm-368.909-3.968c.13 0 .519.063.065.818l-.151.136a7.101 7.101 0 0 1-.953 1.028c-.513.373-.615.102-.617.095-.032-.126.422-1.353.617-1.605.13-.157.39-.504 1.039-.472Zm345.631-20.137c.649.409 12.337 10.854 13.084 11.892h-.13c.098.567 3.539 4.311 4.837 5.632 1.59 1.604 2.629 2.861 2.662 2.957l.172.208c.337.478.745.905 1.029 1.428-.064-.063-.161-.126-.226-.188-3.896-3.996-7.403-8.338-11.331-12.302-2.467-2.517-2.825-2.8-7.045-6.481-2.565-2.233-3.019-3.146-3.052-3.146Zm-340.076 8.149c.032 0 .097 0 .13.063.065.566.13.818-2.5 2.706-.519.377-.876.629-1.038.817-.552.535-.292.724 0 .945.129.094.194.188.096.471-.389.86-.464 1.29-.226 1.29.292 0 .649-.157 1.201-.44.973-.472 1.071-.472 1.298-.378 0 .157.065.409-.454 1.007l-.3.19c-.419.419-.991.691-1.389 1.131-.649.724-1.038 1.668-1.785 2.297-.097.094-.324.158-.422.252-1.396 1.007-2.5 2.391-4.123 3.083l-.097-.094c.324-.629 1.526-1.51 1.558-1.542.26-.188.292-.22.292-.283 0-.094-.422-.723-1.558-.346-.843.272-1.308.398-1.396.377-.584-.126-.91-.692-1.494-.755-.487-.031-.974.315-1.461.126-.224-.093-.006-.583 0-.597a.881.881 0 0 1 .195-.284c.098-.094.227-.22.357-.314.552-.472 1.234-.692 1.786-1.164.324-.283.389-.724.746-.976.487-.377 1.137-.158 1.624-.504.476-.314 1.472-1.185 2.986-2.611.025-.023 4.355-4.027 5.974-4.467ZM244.567 100.3c.519.095.292.755-.292 1.195-.552.441-1.299.63-1.657 1.291l.066.157c.292.063.519.062 1.265-.064 4.416-.692 1.722 1.983-.064 3.744-.877.881-.584 1.165.52 1.826.681.408.746.503 1.038.88.324.472 0 1.038.259 1.541.39.693 1.17 1.039 1.527 1.731.649 1.195.519 2.265.454 2.769 0 .22-.065.66.422.849.714.283 1.526 0 2.208.441.292.157.682.409.325 1.07l-.184.176c-.635.846-1.872 1.226-2.024 2.435-.162 1.101-.195 1.448-.941 1.731-.26.094-.65.219-.91.251-2.402.44-4.837-.063-7.24.346-1.818.315-3.246 1.573-5.064 1.856-.013.002-.781.123-.91-.22-.162-.409.099-1.227 2.274-2.643 1.331-.88 3.019-.944 4.383-1.699v-.157c-.195-.157-.26-.125-1.039.095-1.753.566-3.994.125-4.123-.316-.065-.188-.066-.471.064-.629.714-.817 1.85-1.038 2.565-1.824.454-.503.195-1.259.714-1.762.13-.126.39-.22.584-.22 1.082-.168 1.722-.42 1.916-.755.098-.22.228-.535.26-.755.098-.535-.13-1.038 0-1.573.098-.535.487-1.007.584-1.542 0-.063-.065-.188-.13-.22-1.168-.598-2.305.408-3.473.094-.001-.063-.066-.126-.066-.189.098-1.195 1.267-1.982 1.267-3.209 0-.692-.942-1.007-.747-1.794l1.331-2.485c1.039-1.573 4.091-2.359 4.838-2.422Z"/>
            <path fill-rule="evenodd" d="m233.694 109.585.023.029c.318-.003.667-.062 1.016-.062 1.676 0 1.364 1.615 1.259 2.018l-.026.122c-.227.471-.325.503-1.817 1.069l.292-.22c-.004-.006-.01-.013-.014-.021l-.279.212-.26.188c-.163-.314-.844-.408-1.655-.062-.862.371-1.441-.201-1.492-.549-.002.016-.004.031-.001.043.064.409.649.944 1.493.566.681-.314 1.33-.314 1.623 0-.162.126-.195.221-.162.41.146.755-.073 1.74-.219 2.251l-.073.329c-.422 1.163-.909 1.855-1.494 2.076-.097.031-.194.094-.292.094-.974.315-2.045.252-3.019.567-.844.252-1.526.849-2.402 1.007-.293.063-1.3.094-1.916-.378-.52-.378-.389-.755-.357-.881.098-.409 1.072-.975 1.721-1.353.844-.503 1.33-.786 1.395-1.132.26-1.102-1.817-1.637-.973-2.706.941-1.164 2.467-.504 3.603-1.07 1.039-.503.909-1.856 1.851-2.423.227-.157.325-.189.617-.22.166 0 .54.039 1.121.116.091-.079.181-.16.274-.239l.163.219Zm.147.202c-1.097 1.001-1.968 1.783-2.485 2.19 0 .009.003.017.004.026.519-.409 1.394-1.195 2.496-2.199l-.015-.017Z" clip-rule="evenodd"/>
            <path d="M271.122 109.242c.228 0 .228.062.293.157a.69.69 0 0 1 .616.818l.005.105c-.181.516-1.011.894-1.498.304-.422-.534-.097-1.353.584-1.384Zm4.413-1.135c.422 0 .52.472.488.692l-.067.077c-.083.155-.363.545-1.264 1.182-.682.377-1.429-.063-1.267-.755a.699.699 0 0 1 .357-.473h.066c.195-.125.389-.156.584-.251l.682-.377c.194-.095.292-.095.421-.095Zm-32.827-54.335c2.273.042 4.632.42 7.077 1.133-.876 1.227-2.434 1.29-3.635 1.95 3.376.315 6.46-1.667 9.869-1.227 0 .095.065.22.097.315l-.104.2c-.526.504-1.119.595-1.94.713-3.572.524-7.306 2.024-11.202 4.499.217.168.964.398 2.241.691l.292.44c-.715.567-.942.568-3.019.347-.552.472-.26 1.322-.877 1.762-1.493 1.07-3.376 1.415-4.902 2.39-2.078 1.322-5.259-.69-6.85 2.14.682 1.07 3.019.819 2.759 2.55-.025.03-1.605 1.918-3.408 1.95-.455-.819.551-1.7-.098-2.486 0 0-.747-.85-2.046-.157.26 1.856-2.889.755-3.116 2.58 1.201.66 2.728-.063 3.929.786-.033.063-8.734 5.16-13.636 2.611-.065.063-6.948 4.971-11.266 4.94v-.535l-.324-.22c-5.151 1.971-8.312 3.628-9.48 4.97-.023.016-12.566 8.62-14.058 8.275 0-.692.585-1.29.357-2.045-1.136 0-2.175 1.448-3.377.41 0-.064 1.299-5.916 8.344-12.46 3.409-3.177 8.442-3.492 12.013-6.418l-.098-.44c-1.201-.22-1.85-.347-2.142-1.228.195-.126.779-.471 1.915-.503.173.168.433.514.779 1.038.877 0 2.078-.471 2.857-2.925l-.389-.252c-.812.189-1.494.66-2.306.85l-.194-.346c2.142-2.328 5.681-2.927 7.337-5.822.584-1.038.584-2.233-2.857-2.076-1.254.063-1.968.085-2.142.064l.162-.41a6.903 6.903 0 0 0-1.072-.314c1.299-1.95 3.637-.22 5.163-1.416-.877-.409-1.916.346-2.76-.378.292-.44.585-.943 2.76-.912.812 0 6.2-.912 7.466-1.478-.194-.158-.519-.252-.779-.284.097-.063 2.857-1.888 15.616-2.108l.227.347c4.123-1.668 14.707-1.543 16.817-1.511Zm-77.756 25.297c.033.22.033.346-.584 1.195-.151.189-.216.315-.194.378.227.063.65 0 1.591-.283.616-.157.649-.158.746-.095.065.44-.292 1.07-.422 1.259-.065.094-.163.22-.227.314-.228.315-.552.566-.78.881-.779 1.07-1.266 2.36-2.272 3.273l-.284.3c-.946.781-3.165 2.437-3.222.455 0-.378.13-.724.032-1.102-.422-.251-1.363.976-1.883 2.454-.876 2.517-2.24 1.416-2.24 1.416-.195-.252-.162-.567-.324-.818-.26-.378-.682-.63-.877-1.07-.13-.346.779-1.226 1.363-1.793 1.429-1.384 1.364-2.517 1.331-2.863 0-.283-1.688.314-2.922.786-.487.189-1.136.158-1.103-.314.065-.44 3.179-1.793 3.506-1.888.487-.126.876.158 1.331.252l1.364-.126c.692-.084 1.342-.398 1.947-.943 1.682-1.536 3.944-1.667 3.994-1.668h.129Zm-20.67 8.84c.097 0-.13.283-.357.471l-.11.15c-.749.597-2.035 1.219-2.066.983 0-.315 2.111-1.573 2.533-1.604Zm-.89-1.103c.097 0 .292.032 0 .283l-.239.13c-.716.42-2.89 1.577-2.975 1.192-.097-.41 1.818-1.668 3.214-1.605ZM220.7 83.06c.552-.66 3.669-1.855 3.799-1.29.033.221-.227.598-.389.787-.942 1.29-.195 1.322-.098 1.322.065 0 .293-.063 1.137-.504.194-.094.357-.189.551-.283l1.818-.724c.292-.062.779.064 1.137.536.097.125.519.031.747 0 .03-.009 2.113-.6 2.596-.819.552-.283.585-.283.812-.314.227.063.26.346.519.378.195 0 .391-.063.585 0h.097c0 .006.002.094.033.125 0 .126-.13.252-.13.347 0 .157 0 .188.389.66.292.346.617.755 0 1.542l-.178.1c-.304.299-.901.788-1.899 1.19-.617.251-1.331.22-1.981.44-1.623.472-3.116 1.29-4.804 1.605-1.689.283-2.533.126-2.566.126-.162 0-.292-.063-.486-.158l-1.818-.975c.097-.189.26-.347.357-.535.13-.315-.001-.881-.195-1.196-.325-.534-.292-.597-.162-.755.129-.188.487-.346.877-.535.681-.314.778-.408.778-.629-.487-.282-1.039-.094-1.526-.314v-.126Zm-71.256 2.422c.162 0 .259.157-.163.535-.649.567-1.168.599-1.168.441 0-.189.876-.976 1.331-.976Zm.121-4.56c.876-.44 1.2-.44 1.395-.409h.032c-.292.346-.778.44-1.005.85v.126c.001.002.032.063 0 .094-.001.252-.228.41-.26.63 0 .125.097.22.13.314 0 .094-.065.189-.098.283-.097.157-.454.472-.746.692-.325.252-.39.346-.423.44 0 .19.228.284.163.472-.032.126-.065.221-.455.536l-.203.102c-.688.472-1.274.3-1.518.212-.065-.598.487-.881.65-1.385l-.065-.094c-.422.032-.682.126-2.208.913-2.954 1.478-3.052 1.447-3.149 1.416-.033-.19.228-.346.877-.755.679-.408.714-.535.746-.567-.389-.125-.681.189-1.038.158.13-.22.519-.41.746-.536.682-.377 1.461-.629 2.143-1.006 1.428-.818 2.792-1.73 4.286-2.486Z"/>
            <path d="M179.184 65.816a.64.64 0 0 1 .324.094c0 .22-.228.85-3.084 2.14-.746.346-.876.41-1.071.598v.094c.195.031.227.032.617.032.649 0 2.207-.001 2.856-.913.163-.252.163-.535.358-.786.227-.284.454-.504.714-.63 1.298-.692 2.207-.44 2.37-.377 0 0 1.039.44-2.597 2.894-.941.63-1.007.66-1.007.881.292.094.65 0 .942.126.065 0 .194.094.162.346-.098.755-.973.598-1.298 1.101.422.409 1.039.126 1.493.377.065.315-1.104 1.825-3.052 2.55-.974.345-2.273.849-2.338 1.982.003.038.162 2.513.163 2.547.065.158.422.158.617.126h.357c.097.315-.747 1.04-.845 1.102l-.192.106c-.539.379-1.15.637-1.463.775-.779.346-1.655.314-2.434.629-.195.063-.52.22-1.267.723-1.039.724-1.169.819-1.429.693 0-.283.098-.504.91-1.542.486-.66 1.006-1.541.876-1.92-.324 0-.422 0-1.494.567-.605.315-.973.451-1.103.41-.325-.63.584-1.323-.098-1.92-.584-.503-1.039.314-1.591.409l-.064-.063c.162-.535.974-1.007 1.883-1.573.617-.378 1.331-.787 1.72-1.29.357-.503.195-1.132.52-1.636.747-1.1 1.753-2.045 2.434-3.178 0-.031.066-.125.098-.157-.162 0-.358 0-1.948 1.07-1.428.975-2.078.22-2.273-.032-.097-.126-.13-.157-.519-.126-.097 0-.259.032-.357.064-1.006.189-1.72-.598-2.629-.724-.163-.598.941-1.133.941-1.165.292-.126.617.064.812.158.357.22 2.727 0 2.727 0 .26-.094 1.006-.566 1.785-1.132.163-.126.357-.284.52-.378.259-.126.584-.063.843-.189.715-.314 1.3-.85 2.014-1.133 1.515-.566 2.38-.912 2.597-1.038.876-.472 1.721-.692 2.5-.692Z"/>
            <path d="M166.808 75.704c.009.001.548.035.098.472a.393.393 0 0 0-.164.157c-.422.315-3.019 1.731-3.863 1.542v-.063c.228-.692 2.663-2.076 3.929-2.108Zm162.946.125c.227 0 .389.062.908.345.552.315.585.315 1.072.22.13.095.259.158.259.315l-.024.134a.73.73 0 0 1-.105.18c-.017.015-.781.662-.974.724-.26.095-.552 0-.844-.283-.617-.597-.876-1.604-.292-1.635ZM155.709 72.02s.649.189-.617 1.038l-.334.248c-1.776 1.174-2.715 1.432-2.685 1.137.065-.283.033-.567.195-.819.065-.125.227-.251.552-.471.065-.032.13-.095.195-.095.162-.063.324 0 .486-.063.747-.283 1.429-.786 2.208-.975Zm4.062-6.767c-.714.44-1.493.724-2.207 1.164l1.071-.346c.844-.378.876-.378 1.104-.44-.228.786-1.332.503-1.559 1.258.941.189 1.429-.755 2.306-.755-.812 1.227-2.37 1.29-3.442 2.14l.097.062c.324-.063.714-.252 1.331-.566 1.234-.66 4.124-2.234 4.708-2.202h.098c0 .157-.001.251-.39.503-.065.031-.13.094-.195.126-1.916 1.29-4.156 2.107-6.104 3.366-.747.472-.974 1.416-1.721 1.888l-.231.087a2.92 2.92 0 0 1-.32.165c-.455.22-.974.126-1.396.346-.844.44-1.558 1.163-2.532 1.415-.325.095-.975-.314-.942-.597 0-.22.195-.315.293-.472V72.3c-2.111.283-3.897 1.542-6.007 1.605l-.065-.094c.714-.787 1.753-1.07 2.597-1.7-1.228-.595 1.667-1.628 1.721-1.666 1.038-.346 2.273.44 3.214-.504-.389-.535-1.168 0-1.59-.535.941-.912 2.369-.44 3.376-1.196v-.157a2.6 2.6 0 0 1-.358-.157c.649-1.07 4.87-2.108 7.143-2.643Zm179.099-2.639c.228 0 .682.031 1.039.629v.181c.033.118.066.26.066.354-.065.535-1.948 1.1-3.052 1.164-.779.031-1.949.126-3.215 2.485-.746 1.416-1.298 4.027 3.572 5.411 1.103.315 1.525.441 1.428.693-.097.22-2.045.283-3.246-.063-.779-.22-1.429-.693-2.176-.944-.876-.252-1.818-.189-2.694-.503-.454-.157-.941-.347-1.071-.692 0-.063-.065-.19-.032-.252.065-.535.486-.913.584-1.448.064-.44-.227-.817-.065-1.258.162-.44.648-.724.648-1.227 0-.535-.648-.944-.356-1.541.227-.535 1.591-1.354 1.591-1.354 1.428-.849 3.019-.094 4.513-.44.811-.189 1.298-.975 2.11-1.164.129 0 .259-.031.356-.031ZM164.989 68.37c.238.021.379.043.422.064-.001.005-.074.257-.941.786l-.266.179c-.301.17-.611.325-.903.513-.779.504-1.429 1.227-2.338 1.605-.877.377-3.669 1.07-3.669 1.07-.357.062-.356-.095-.324-.19 0-.094.196-.597 1.396-1.195l3.117-1.51c2.098-.902 3.267-1.342 3.506-1.321Zm11.654-2.89c.194 0 .357 0 .552.062v.064c-.007.008-.1.128-.163.188l-.312.147c-1.574.862-3.301 1.356-4.914 2.181-.974.504-1.689 1.416-2.76 1.793-.454.19-1.428.536-2.532-.22.032-.345 8.148-4.278 10.129-4.215Zm249.825 2.485c.131 0 1.201.66 1.915 1.1.39.221.78.41 1.105.724-.423-.125-.748-.44-1.137-.597 0 .063.065.063.13.095.162.125.357.25.551.376.098.063.195.127.26.19-.26-.001-2.724-1.635-2.824-1.888Zm-256.187-3.432c.032 0 .097.03.129.062-.097.315-.811.724-.811.724l-.147.125c-.907.432-1.984.39-2.775 1.039.032 0 .097.032.13.063v.094c-.487.409-1.818 1.165-2.532 1.48-.13.062-.325.125-.488.188-.324.094-.649.094-.973.157-.779.22-1.429.724-2.241.85 0-.126.001-.158 1.04-.944 1.037-.818 1.039-.818 1.006-.975.357-.377 1.752-1.353 1.948-1.259 0 .157-.162.314-.097.503.325.126 1.233-.377 2.207-.912 1.331-.755 2.532-1.164 3.604-1.195Zm178.01 3.807c.227 0 .422.095.649.095h.357c.162.063.422.22.487.41l.016.113c-.016.06-.048.122-.113.138-.195.063-.715.22-1.007.126-.454-.158-.844-.725-.584-.85.065 0 .13-.032.195-.032Z"/>
            <path d="M161.254 63.022c.033 0 .098 0 .13.032-.195.283-.52.44-.747.724.325.126.682-.315 1.007 0-.066.283-1.585 1.191-1.623 1.195-.195.094-.228.126-.455.126-.877.032-2.078.44-3.636.975-1.591.535-3.052 1.353-4.643 1.856l-1.59.378s1.558-1.29 2.597-1.825c2.435-1.227 5.032-2.17 7.531-3.303.422-.189.455-.221 1.429-.158Zm11.362 1.664c.888.126 1.354.199 1.397.22.162.125-.001.409-.228.597a.699.699 0 0 1-.162.095l-2.987 1.195s-.162.064-.26.064c-.324.094-.617-.064-.941-.064-1.234-.031-2.045 1.07-3.246 1.133v-.062c.941-1.07 5.486-2.99 6.427-3.178Zm234.24 1.011c.064 0 .13 0 .324.062.26.063.877.347 1.559.82.516.344.519.44.519.471-.032 0-.066 0-.293-.062-.195-.063-.389-.158-.584-.19-.195 0-.292.157-.454.126a.977.977 0 0 1-.293-.062c-.021-.009-1.046-.416-1.753-1.07 0 0-.032-.033-.032-.064.26 0 .487.22.779.095.065 0 .13-.095.228-.126ZM165.31 64.75c.357.03.389.126.13.315-.13.094-.228.157-.358.25l-.341.14c-.775.41-1.887.868-2.029.868.228-.283 1.46-1.195 1.785-1.384.163-.094.423-.19.813-.19Zm233.245-2.23c.228 0 3.019 1.227 3.928 1.856.324.22.487.378.487.472-.131.157-3.799-.818-3.831-.818-.909-.315-1.785-1.007-1.817-1.196v-.03c.097-.064.292 0 .811.125.26.063.746.189.812.126.032-.031.032-.064 0-.158-.098-.157-.26-.251-.39-.377Zm-216.921-1.163c.433-.168 1.072-.232 1.916-.19 0 0-.325.19-.455.252-.941.44-1.104.504-1.201.693.324.524.844.765 1.558.723h.715c.909.126 1.786-.378 2.695-.22.162 0 .389.346-.358.787l-.399.18c-1.724.855-4.182 1.072-4.308.984 0-.094.064-.19.097-.283h-.032c-.779.167-1.137.136-1.072-.095-.005-.003-.205-.091-.941.095-.26.063-.487.126-.714.126-.649.031-.65 0-.487-.567-.065-.126-.163-.157-1.104-.126h-.389c-.065-.408 4.396-2.32 4.479-2.36Zm222.456 1.981c.152 0 .606.106 1.363.316.422.126.52.126.65.126.032 0 .065-.032.13 0 .097 0 .325.157.487.252l.336.227c.175.134.329.276.248.308-.097.031-.455-.095-.974-.283-.584-.22-.877-.284-.844-.19 0 .126.324.378.129.378-.064 0-.097 0-.162-.031-.389-.126-1.589-.819-1.461-1.04 0-.03.066-.031.098-.063Zm-3.559-.443c.259 0 1.817.566 2.954 1.29l.227.09c.114.082.228.177.228.224 0 0-.033 0-.196-.03h-.097c-.422-.221-.812-.441-1.266-.598-.292-.095-.617-.158-.877-.284-.487-.251-1.006-.598-1.006-.692h.033Zm-222.719-.405s-.129.158-.227.221c-2.329 1.413-2.918 1.01-2.922.977.13-.535 2.402-1.229 3.117-1.197h.032Zm-3.535-2.269c-.033.094-.066.157-1.331.755-1.2.566-1.267.598-1.331.692.519 0 .973-.251 1.493-.314-.065.094-.423.283-.715.44l-.207.133c-1.097.512-3.033 1.092-3.071 1.095-.455.094-.78-.378-1.235-.283-.909.157-1.753.565-2.662.66h-.13c-.422 0-.486-.063-.518-.126.098-.252.811-.44 1.427-.598.779-.189.91-.314.975-.377-.033-.031-.066-.063-.423 0-.446.031-.893.001-.908 0 0-.157.584-.472 1.265-.723.098-.032.228-.064.326-.095.357-.094.746-.063 1.103-.157.649-.19 1.234-.535 1.883-.724.292-.094.292-.094.422-.031-.065.377-.617.409-.682.817.065.095.163.095.844 0 1.234-.157 2.241-.912 3.475-1.164Zm109.956-1.543c.065 0 .195 0 .259.063 1.007.44 1.948.944 2.955 1.384.551.252 1.688.692 2.954.818 1.59.157 1.526.881 1.428 1.07l-.108-.004a.942.942 0 0 1-.671.35c-.26 0-2.272-.472-2.272-.472-.293-.126-.52-.41-.78-.787-.422-.597-.649-.566-.973-.534-.52.063-2.533 2.013-2.566 2.045-.357.346-.746.754-1.038.755 0 0-1.624-.724-1.624-.85-.065-.535.812-.85.423-1.478-.108-.19-.509-.116-1.201.22-.649.282-2.303-.628-2.338-.661-.13-.094-.584-.409-.39-1.352.033-.19.163-.284.358-.284.519-.031 1.006.283 1.525.315.714.031 1.364-.41 2.078-.41.13 0 .227 0 .292.063.649.44 1.104-.188 1.689-.25Zm-105.675 1.858c.007.007.29.255.194.44 0 0-.065.127-.617.441l-.339.195c-1.916.96-4.618 1.79-4.466 1.347.065-.188.488-.252.326-.504 0 0-.229-.03-.683-.093v-.064c.681-.597 2.402-1.477 2.76-1.54h.032c-.325.377-.779.629-1.104.975v.062h.162c.487-.157.942-.409 1.461-.597.033 0 .228-.063.293 0 0 .094-.097.157-.097.252.065 0 .097-.001.843-.378.942-.472 1.105-.536 1.235-.536Zm35.741-6.696c3.03.188 4.654.345 4.87.47-.006.009-.196.253-.324.315l-.129.054c-1.025.407-2.897.56-5.91.796-2.597.189-4.967 1.321-7.499 1.762-.487.094-1.299.188-2.695.157-1.851-.063-2.825 1.825-4.61 1.888-.487 0-.714.03-1.299.22-2.597.754-4.967 2.045-7.596 2.705 0-.188.097-.377.064-.597-1.363-.346-2.694.188-4.057.126-.358-1.227 2.532-2.235 2.564-2.235l.098.19c-.26.314-.585.597-.845.943.195 0 .325.032 2.598-.974.486-.22 1.038.03 1.525-.095.974-.283 1.754-.945 2.727-1.228.617-.157.65-.125 1.299.158.909-.44 1.363-1.448 2.337-1.762 1.494-.504 1.688-.094 1.883.347 2.175-.661 4.481-.788 6.591-1.669-4.48.032-4.837.127-5.616.347-.487.126-1.364.283-1.591-.157.195-.378.455-.881 1.429-1.133.062-.003 4.661-.439 4.771-.378 0 .095.001.252.033.347l2.403-.378c.551-.094 1.103 0 1.655-.095 1.201-.126 1.234-.062 1.331.22 1.396.473 2.662-.376 3.993-.345Zm-32.365 6.475c.486 0 .487.03.584.094 0 .063.032.157-.52.472l-.184.117c-.256.135-.603.3-.823.324-.097 0-.608-.124-.616-.126-.032 0-.097-.063-.097-.126.008-.018.403-.818 1.656-.755Zm-8.277-1.26c-.292.126-.616.315-.876.41l-.658.206c-.727.273-1.5.532-1.744.58-.292.062-.519-.094-.779-.094-.195 0-.325.031-1.267.409-.325.126-.974.377-1.233.44-.13 0-.812-.063-.877-.126.195-.22.845-.44.845-.44.097-.032.259-.095.356-.095.519-.126 1.072-.157 1.591-.283.714-.189 1.429-.472 2.143-.661l2.467-.472h.032v.126Zm188.789-.092c.487 0 .844.346 1.298.41.39.062.78-.032 1.202 0 .162 0 .389.063.551.125.325.095.78.252 1.039.536l.048.09c.076.108.179.326-.21.35-.454 0-.876-.19-1.331-.063-.032 0-.065.063-.065.094-.065.189-.098.22-.358.283-.227.063-.422 0-.681-.094-.877-.315-1.98-1.321-1.656-1.667a.353.353 0 0 1 .163-.064Zm-4.731-.691c.065-.377.487-.283.65-.251 1.298.377 2.596 1.289 2.791 1.51l.057.1c.116.156.098.274-.64.246h-.26l-.292-.063c-.487-.063-.942-.22-1.429-.315-.487-.063-.974-.063-1.461-.157-.487-.094-.877-.22-1.039-.252-.325-.094-1.071-.41-.649-.818.065-.063.259-.188.422-.22.227 0 .292.032.844.252.487.189.78.314.909.22.065 0 .065-.064.097-.252Zm-70.849-.346c1.104-.251 2.662 0 3.798.22 1.201.22 1.526.157 2.143-.063.454-.157.52-.19.877-.19.324 0 .422.096.357.316-.01.019-.754 1.291-1.72 1.448-.877.157-1.722-.159-2.566-.159-.389 0-.779.032-1.168 0h-.195c-.421-.031-.551-.187-.584-.282-.033-.094-.001-.22-.066-.315-.064-.094-.13-.157-.454-.22-1.039-.189-.714-.692-.422-.755Zm-100.159.062c.422.063.065.472-.065.598l-.292.189c-.812.472-2.142.724-2.045.409.066-.252 1.299-1.228 2.402-1.196Zm-6.779-.41c.065 0 .13.031.162.094 0 .063-.065.094-.292.22l-.495.145c-.235.083-.56.185-.998.295l-3.149.819v-.064c.484-.375 1.578-.75 1.59-.755.098-.031.228-.093.358-.093.259-.063.552-.063.811-.126.682-.158 1.299-.441 2.013-.535Zm5.123-.563a.35.35 0 0 1 .195.063c.098.062 0 .188.033.283.097.094.194.063.324.126-.065.251-.779.66-1.104.818l-.534.24c-.586.275-1.34.593-1.511.451.13-.25.423-.377.52-.66-.162-.094-.391 0-.553-.094-.032-.001-.096-.095.066-.22.292-.22 1.46-.756 2.142-.944a1.7 1.7 0 0 1 .422-.063ZM321.66 56.7c.844 0 1.527.597 2.371.534.486-.032.941-.315 1.46-.283h.163c.584.125.973.472 1.103.755l.044.184a.326.326 0 0 1-.238.414c-.779.126-1.495-.378-2.274-.252-1.233.22-2.369.724-3.635.85h-.195c-.13 0-.487 0-.779-.064-.292-.094-1.396-.88 0-1.54.011-.005 1.366-.567 1.98-.598Zm-6.803.506c.324 0 .843.221.908.536l-.008.07c-.008.055-.024.118-.057.15-.162.094-.357 0-.519.031-.162 0-.227.189-.292.377-.065.19-.195.567-.649.284-.552-.346-.747-1.227.454-1.448h.163Z"/>
            <path d="M197.387 54.868c-.065.22-.131.346-.877 1.07-.487.472-.552.535-.52.692.065.032.13.063.195.126-.162.313-1.125.875-1.136.881l-.318.106c-.256.11-.42.146-.493.146-.293 0-.552 0-.812-.063-1.006-.095-1.818.535-2.76.63-.259 0-.519-.158-.779-.127-.26 0-.487.063-.747.032-.033 0-.097-.064-.097-.095.033-.063.13-.126.162-.188.422-.346.974-.535 1.396-.881.162-.126.098-.346.26-.472a5.14 5.14 0 0 1 1.136-.598c.65-.283 1.331-.188 2.013-.314 1.039-.189 1.981-.724 2.987-.976.098 0 .195-.031.292-.031l.098.063Zm154.732 1.515c1.104.032 2.696.976 2.988 1.322l.046.108c.076.166-.063.238-.176.238-.033 0-.097 0-.162.031h-.196c-.389.063-.778 0-1.135 0-.293 0-.553.22-.845.189-.325-.032-2.045-1.07-1.201-1.636 0 0 .357-.252.681-.252Z"/>
            <path fill-rule="evenodd" d="M288.099.791c158.702 0 287.42 127.582 287.42 285.042 0 157.46-128.718 285.042-287.42 285.042-158.702 0-287.42-127.582-287.42-285.042C.679 128.373 129.397.791 288.099.791Zm0 9c-153.803 0-278.42 123.624-278.42 276.042 0 152.418 124.617 276.042 278.42 276.042s278.42-123.624 278.42-276.042c0-152.418-124.617-276.042-278.42-276.042Z" clip-rule="evenodd"/>
          </svg>

        </div>
      </div>

      <!-- Carousel Track -->
      <div class="carousel-track absolute inset-0 grid place-items-center">
        <div class="track-circle absolute   rounded-full w-9/12 aspect-square" style="background-image:radial-gradient(  white 60%, hsl(0, 0%, 89%) 75%);">

        </div>
      </div>

      <!-- Project Items -->
      <div class="project-items absolute inset-0 ">
        {allProjects.map((project, index) => {
          const category = projectsData.categories.find(cat => cat.id === project.categoryId);
          const angle = (index * 360) / allProjects.length;
          const radians = (angle * Math.PI) / 180;
          // Initial positioning - will be recalculated by JavaScript for responsiveness
          const containerWidth = 600;
          const containerHeight = 400;
          const centerX = containerWidth / 2; // 300
          const centerY = containerHeight / 2; // 200
          const radius = 180;
          const x = centerX + radius * Math.cos(radians - Math.PI / 2);
          const y = centerY + radius * Math.sin(radians - Math.PI / 2);

          return (
            <div
              class={`project-item flex flex-col items-center max-w-16 sm:max-w-20 md:max-w-24 gap-0 ${index === 0 ? 'active' : ''}`}
              style={`
                position: absolute;
                left: ${x}px;
                top: ${y}px;
                transform: translate(-50%, -50%) rotate(${angle}deg);
                --project-color: ${category?.color || '#666'};
                color: ${category?.color || '#666'};
              `}
              data-project-id={project.id}
              data-index={index}
            >
                <div class="project-icon-container size-8 sm:size-12 md:size-15 bg-white p-1 sm:p-1.5 md:p-2 rounded-full shadow-md translate-y-4">
                  <img
                    src={category.icon}
                    alt={category.name}
                    class="w-full h-full object-contain rounded-full"
                  />
                </div>
                <svg class="pin-shape w-full max-w-16 sm:max-w-20 md:max-w-2xs max-h-32 sm:max-h-36 md:max-h-40" xmlns="http://www.w3.org/2000/svg" width="164" height="290" fill="currentColor" viewBox="0 0 164 290"> <path d="m1.043 12.678 72.824 269.909c2.342 8.721 14.702 8.7 17.042-.029l72.239-271.41c2.514-9.398-9.827-15.339-15.63-7.505L134.287 21.58c-26.026 35.322-78.753 35.53-105.047.384L16.59 5.09c-5.83-7.784-18.094-1.8-15.576 7.588h.029Z"/></svg>
            </div>
          );
        })}
      </div>



      <!-- Navigation Button -->
      <button
        class="nav-button absolute top-1/3 right-1/4 transform -translate-y-1/2 size-16 bg-white/50 backdrop-blur-sm rounded-full flex items-center justify-center hover:bg-gray-50/50 transition-colors z-20 border-white border drop-shadow-xl"
        id="next-project"
      >
        <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>

    <!-- Content Display Area -->
    <div class="inset-0 absolute content-area max-w-xs sm:max-w-2xl md:max-w-4xl mx-auto top-1/2 z-50">
      <div class="content-card bg-white/60 backdrop-blur-sm rounded-3xl p-4 sm:p-6 md:p-10 shadow-xl border border-white">
        <div class="max-w-prose     mx-auto">
          <div class="content-header mb-6">
            <h2 class="text-xl sm:text-2xl md:text-3xl font-bold mb-4" id="project-title" style={`color: ${firstCategory?.color || '#666'}`}>
              {firstProject.title}
            </h2>
            <p class="text-sm sm:text-base text-gray-600 leading-relaxed" id="project-description">
              {firstProject.description}
            </p>
          </div>
          <div class="content-actions">
            <div class="text-center mb-4">
              <span class="text-sm font-semibold text-gray-500">Project Track</span>
            </div>
            <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 justify-center">
              <a
                href={firstProject.learnMoreUrl}
                class="learn-more-btn px-4 sm:px-6 py-2 sm:py-3 bg-orange-200 text-orange-800 rounded-lg font-medium hover:bg-orange-300 transition-colors text-sm sm:text-base"
              >
                Learn more
              </a>
              <a
                href={firstProject.donateUrl}
                class="donate-btn px-4 sm:px-6 py-2 sm:py-3 bg-orange-500 text-white rounded-lg font-medium hover:bg-orange-600 transition-colors text-sm sm:text-base"
              >
                Donate
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .project-carousel-section {
    min-height: 100vh;

  }

  .carousel-container {
    position: relative;
  }

  .project-item {
    z-index: 0;
    pointer-events: none; /* Make items not clickable */
  }

  .project-item.active {
    z-index: 30;
  }



  .content-card {
    transition: all 0.5s ease-in-out;
  }



  /* Responsive Design */
  @media (max-width: 768px) {
    .carousel-container {
      width: 400px !important;
      height: 300px !important;
    }




    .project-title {
      font-size: 10px !important;
    }

    .project-category {
      font-size: 8px !important;
    }



    .content-header h2 {
      font-size: 24px !important;
    }
  }

  @media (max-width: 480px) {
    .carousel-container {
      width: 320px !important;
      height: 240px !important;
    }


    .project-title {
      font-size: 8px !important;
    }

    .project-category {
      font-size: 6px !important;
    }
  }
</style>

<script>
  import projectsData from '../data/projects.json';
  import { gsap } from 'gsap';

  document.addEventListener('DOMContentLoaded', () => {
    const projectItems = document.querySelectorAll('.project-item');
    const nextButton = document.getElementById('next-project');
    const projectTitle = document.getElementById('project-title');
    const projectDescription = document.getElementById('project-description');
    const learnMoreBtn = document.querySelector('.learn-more-btn');
    const donateBtn = document.querySelector('.donate-btn');

    let currentIndex = 0;
    const totalProjects = projectItems.length;
    let isUserInteracting = false;

    // Track current rotations for smooth transitions
    const currentRotations = new Map();

    // Calculate new positions for all projects based on current index
    function updateProjectPositions() {
      const container = document.querySelector('.carousel-container');
      if (!container) return;

      const containerRect = container.getBoundingClientRect();
      const centerX = containerRect.width / 2;
      const centerY = containerRect.height / 2;
      // Responsive radius calculation
      const radius = Math.min(containerRect.width, containerRect.height) * 0.3;

      // Calculate globe rotation (counter-clockwise)
      const globeRotation = -(currentIndex * 360) / totalProjects;
      const globeElement = document.querySelector('.globe-image');

      projectItems.forEach((item, index) => {
        // Calculate the relative position from current index
        const relativeIndex = (index - currentIndex + totalProjects) % totalProjects;
        const targetAngle = (relativeIndex * 360) / totalProjects;
        const radians = (targetAngle * Math.PI) / 180;

        // Calculate position around the center point
        const x = centerX + radius * Math.cos(radians - Math.PI / 2);
        const y = centerY + radius * Math.sin(radians - Math.PI / 2);

        // Get current rotation from GSAP's internal state
        const currentRotation = gsap.getProperty(item, "rotation") || 0;

        // Calculate the shortest rotation path
        let rotationDiff = targetAngle - currentRotation;
        while (rotationDiff > 180) rotationDiff -= 360;
        while (rotationDiff < -180) rotationDiff += 360;

        const finalRotation = currentRotation + rotationDiff;

        // Use GSAP for smooth animations with calculated shortest rotation
        gsap.to(item, {
          left: x,
          top: y,
          rotation: finalRotation,
          duration: 1.2,
          ease: "power1.out",
          transformOrigin: "50% 50%"
        });

        // Add active class to the project at the top (index 0)
        if (relativeIndex === 0) {
          item.classList.add('active');
        } else {
          item.classList.remove('active');
        }
      });

      // Animate globe rotation synchronized with carousel
      if (globeElement) {
        gsap.to(globeElement, {
          rotation: globeRotation,
          duration: 1.2,
          ease: "power1.out"
        });
      }
    }

    // Initialize carousel
    function updateCarousel() {
      updateProjectPositions();

      // Update content with current project
      const currentProject = projectsData.projects[currentIndex];
      const currentCategory = projectsData.categories.find(cat => cat.id === currentProject.categoryId);

      if (currentProject && projectTitle && projectDescription && learnMoreBtn && donateBtn) {
        projectTitle.textContent = currentProject.title;
        projectTitle.style.color = currentCategory?.color || '#666';
        projectDescription.textContent = currentProject.description;
        (learnMoreBtn as HTMLAnchorElement).href = currentProject.learnMoreUrl;
        (donateBtn as HTMLAnchorElement).href = currentProject.donateUrl;
      }
    }

    // Handle window resize for responsive positioning
    let resizeTimeout: NodeJS.Timeout;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimeout);
      resizeTimeout = setTimeout(() => {
        updateProjectPositions();
      }, 100);
    });

    // Next button functionality
    if (nextButton) {
      nextButton.addEventListener('click', () => {
        // Stop auto-rotation when user interacts
        isUserInteracting = true;
        stopAutoRotation();
        currentIndex = (currentIndex + 1) % totalProjects;
        updateCarousel();

        // Reset interaction flag after animation
        setTimeout(() => {
          isUserInteracting = false;
        }, 1200); // Slightly longer than animation duration
      });
    }

    // Project items are not clickable - only next button and auto-rotation

    // Auto-rotation (optional)
    let autoRotate: NodeJS.Timeout | null = null;

    function startAutoRotation() {
      if (autoRotate) clearInterval(autoRotate);
      autoRotate = setInterval(() => {
        // Only auto-rotate if user is not interacting
        if (!isUserInteracting) {
          currentIndex = (currentIndex + 1) % totalProjects;
          updateCarousel();
        }
      }, 5000);
    }

    function stopAutoRotation() {
      if (autoRotate) {
        clearInterval(autoRotate);
        autoRotate = null;
      }
    }

    startAutoRotation();

    // Pause auto-rotation on hover
    const carouselContainer = document.querySelector('.carousel-container');
    if (carouselContainer) {
      carouselContainer.addEventListener('mouseenter', () => {
        stopAutoRotation();
      });

      carouselContainer.addEventListener('mouseleave', () => {
        // Add delay before restarting to prevent conflicts
        setTimeout(() => {
          startAutoRotation();
        }, 2000); // 2 second delay
      });
    }

    // Initialize
    updateCarousel();
  });
</script>
